{% extends "chat/home.html" %}
{% block content %}
{% load static %}

{% for post in posts %}
<div class="post">
  <div class="date">
    {{ post.published_date }}
  </div>
  <div align="center"><h2><a href="/chat/{{post.id}}">{{post.artist_name}}</a></h5>
  <h3><a href="/chat/{{post.id}}">{{post.artist_track}}</a></h5>
  <a href="chat/{{post.id}}">
  <img src="{% static 'chat/img/spotify.jpg'%}" class="responsive-img" style='max-height:100px;' alt="face"></a>
  <br ></div>
  <h4><div align="right">WRITER: {{post.writer}}</div></h4>
  {% endfor %}

  <br />

<span>
  {% if posts.has_previous %}
  {% ifnotequal previous_page_number 1 %}
  <a href="?page=1">First</a>
  {% endifnotequal %}
  {% endif %}

  {% if posts.has_previous %}
  <a href="?page={{ entry.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in posts.paginator.page_range %}
  {% ifequal num entry.number %}
  <span class="current page">{{ num }}</span>
  {% else %}
  <a href="?page={{ num }}"> {{ num }}</a>
  {% endifequal %}
  {% endfor %}

  {% if posts.has_next %}
  <a href="?page={{ entry.next_page_number }}"> Next </a>
  {% endif %}

  {% if posts.has_next %}
  {% ifnotequal next_page_number entry.paginator.num_pages %}
  <a href="?page={{ entry.paginator.num_pages }}">Last</a>
  {% endifnotequal %}
  {% endif %}
</span>
{% endblock %}
