{% extends "chat/home.html" %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        </div>
        {% endif %}
        <div align="center"><h1>{{ post.artist_name }}</h1>

  <h4>track {{ post.artist_track }}</h4>
  <br />
  <h4>Request Track</h4>
  <a href="{{ post.artist_audio }}" target="_blank">
  <h4>{{ post.artist_audio }}</h4></a>
    <h4>Artist Page</h4>
  <a href="{{ post.artist_url }}" target="_blank">
  <h4>{{ post.artist_url }}</h4></a></br >
</div>
</br >

{% endblock %}
