{% extends "chat/home.html" %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.place_name }}</h1>
        <p>{{ post.info|linebreaks }}</p>
    </div>
  <h4>地域: {{ post.religion }}</h4>
  <h4>旅費　{{ post.travel_expenses }} 円</h4>
  <h4>滞在費 {{ post.hotel_expenses }} 円</h4></br >

  <h4>施設、イベントなど</h4>
  <ul>
  <p>{% for  additional_data in basic_data.additional_data_set.all %}
        <li>{{ additional_data.facilities }}</p></li>

</ul>
</br >
  {% endfor %}

{% endblock %}
